/* styles.css */

.header {
  background-color: rgb(248, 74, 74);
}

.Components {
  /* background-color: #da6767; */
  align-items: center;
  display: flex;
  padding: 10px;
  text-decoration: none;
  
}
.Components:hover{
  background-color: #da6767;
  align-items: center;
  display: flex;
  padding: 10px;
  cursor: pointer;
  
}
